extends base

block content
   main.main

    h2.heading-secondary.ma-bt-lg tour purchase
    - const item = session.items[0]
      h1 #{item.name} tour
      h1 $#{item.amount}
      h1 #{item.description}
      br

    form.form.form--booking-checkout
        .form__group
          label.form__label(for='name') Name
          input#name.form__input(type='text' placeholder='your name' required)
        .form__group
          button.btn.btn--green#btnPay(data-tour=`${session.tour_id}`, data-user=`${user._id}`, data-price=`${item.amount}`) Pay $#{item.amount}